.colorpickerpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: auto;
}
.sliders {
  border: solid 1px black;
  width: 400px;
  height: 250px;
}
