.size {
  height: 36px;
  display: flex;
  width: 100%;
}
.page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
}
.background {
  height: 5px;
  width: 100%;
  border-radius: 4px;
  align-self: center;
}
.button {
  height: 22px;
  width: 22px;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px #aaa;
}
.indicator {
  height: 16px;
  width: 5px;
}
.output {
  margin-top: 5px;
}
